#p-signup {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    
   }
   
   #p-signup fieldset {
       padding-top: 10px;
       padding-bottom: 10px;
       border: 0;
   }
   
   #p-signup input[type='checkbox'] {
       margin-left: 0;
       margin-right: 10px;
   }
   
   #p-signup input:not(input[type='checkbox']),
   #p-signup button {
       display: block;
       width: 100%;
       margin: 10px 0;
       box-sizing: border-box;
   }

   #p-signup a {
    font-size: large;
}

   button {
    background-color: rgb(114, 116, 116);
    font-size: large;
   }