#c-header {
    display: flex;
    background-color: rgb(119, 118, 119);
    color: white;
    justify-content: space-between;
    padding: 10px;
    /*
    position: fixed;
    */
    width: 100%;
    left: 0;
    z-index: 1;
    
}

#c-header a, span {
    color: white;
    font-size: x-large;
}

